* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  margin: 0;
  padding: 20px;
  color: #333;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 10px 0;
  color: #fff;
}

#setup,
#categorySelection,
#game,
#result {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  max-width: 600px;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #ff6f61;
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 16px;
}

button:hover {
  background-color: #ff5a47;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.optionButton {
  background-color: #f0f0f0;
  border: none;
  color: black;
  padding: 12px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  width: calc(100% - 12px);
  font-size: 16px;
}

.optionButton:hover {
  background-color: #ddd;
}

.optionButton.selected {
  background-color: #007bff;
  color: white;
  border: 2px solid #0056b3;
}

#scoreboard {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

#question {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}
